@import url(https://fonts.googleapis.com/css?family=Black+Ops+One|Monoton);


body{
	padding: :0;
	margin: 0;
	font-family: 'Black Ops One', cursive;
}

.navigation-bar{
	position: fixed;
	border: 1px white;
	height:60px;
	width:100%;
	background: black;
	z-index: 4;
	box-shadow: 0px 1px 10px #000;
}
a{
	text-decoration: none;
	color:inherit;
}
#molee-home{
	position:relative;
	font-family: 'Black Ops One', cursive;
	color: white;
	font-size: 35px;
	padding: 10px 40px 10px 40px;
	z-index: 5;
	left:40%;

}
#molee-home:hover{
	cursor: default;
	-webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}


#background-1{	
	height:1000px;
	width:100%;
	padding-top:50px;	

	background:url("image/bg-1.jpg")no-repeat center center fixed;
	
}
#background-2{
	background:url("image/molee-2.jpg") fixed ;
	background-size: cover;
	height:600px;
	width:100%;	
	
}
.blankspace-taylor-swift{
	width: 100%;
    position: relative;
    height: 1540px;
    background: rgba(255, 255, 255, 0.25);
    z-index: 2;
    bottom: 20px;
}

#content-area-1{
	position: relative;
    width: 100%;
    height: 1560px;
    top:20px;
    background: #E8E8E8;
    z-index: 3;
    box-shadow: 0px 1px 10px black;
}

#about-me{
	padding-top: 40px;
	text-align: center;
    font-size: 40px;
}

#section-1{
	word-wrap:break-word;
	font-family: sans-serif;
	padding:40px 20px 40px 20px;
	font-size: 24px;
	
}

#section-2{	
	word-wrap:break-word;
	font-family: sans-serif;
	padding:40px 20px 40px 20px;
	font-size: 24px;
	
}

#background {
background-image: url('image/bg-1-optimized.jpg')  ;
background-size: cover;
}
#foreground {
background-image: url('image/arrows-fire-1-optimized.png');
}
#fore-foreground {
background-image: url('image/arrows-fire-1-optimized.png');
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);

}
#fore-fore-foreground {
background-image: url('image/arrows-2.png');

}
#fore-fore-fore-foreground{

}

.mouse-bg {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: fixed;
	z-index: -1;
}